@font-face {
	font-family: 'Muller';
	src: local('Muller-Regular'),
		url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Medium'),
		url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Muller';
	src: local('Muller-Bold'),
		url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:focus {
  outline: 1px solid #CC9933;
}

a:focus:not(:focus-visible) {
  outline: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Muller', sans-serif;
  font-size: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  background-color: #E5E5E5;
}

.header {
  margin: 30px 0 70px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header-top {
  margin-bottom: 30px;
}

.header-logo {
  display: inline-block;
  margin-right: 40px;
  vertical-align: middle;
}

.header-contacts {
  display: inline-block;
  margin-right: 541px;
  vertical-align: middle;
}

.header-telephone {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #666666;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.link:hover {
  color: #CC9933;
}

.link:focus {
  outline: 1px solid #CC9933;
  outline-offset: 5px;
  color: #CC9933;
}

.link:active {
  color: #A47312;
}

.login-img {
  margin-right: 5px;
  fill: inherit;
}

.login {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  fill: #CC9933;
}

.login:hover .login-img {
  fill: #F0BF5F;
}

.login:active .login-img {
  fill: #A47312;
}

.golden-link:hover {
  color: #F0BF5F;
}

.golden-link:active {
  color: #A47312;
}

.radius-block {
  border-radius: 15px;
  background-color: #FFFFFF;
}

.header-bottom {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.header-nav {
  display: inline-block;
}

.plain-list {
  list-style: none;
}

.plain-list li {
  display: inline-block;
  vertical-align: middle;
}

.header-menu-item {
  margin-right: 45px;
  padding: 27px 0;
  color: #666666;
}

.header-menu-item:first-child {
  padding-left: 45px;
}

.header-menu-item:last-child {
  margin-right: 114px;
}

.btn {
  border-color: #CC9933;
  border-radius: 10px;
  border-width: 1px;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  background-color: #FFFFFF;
}

.btn:hover {
  color: #FFFFFF;
  background-color: #CC9933;
}

.btn:focus {
  outline: 1px solid #CC9933;
  color: #FFFFFF;
  background-color: #CC9933;
}

.btn:active {
  color: #FFFFFF;
  background-color: #A47312;
}

.small-btn {
  padding: 13px 20px
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}

.section {
  margin-bottom: 70px;
}

.section-title {
  margin-bottom: 20px;
  padding-left: 40px;
  color: #333333;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

.col {
  display: inline-block;
  vertical-align: middle;
  width: 573px;
}

.col:not(:last-child) {
  margin-right: 24px;
}

.specials-item:not(:last-child) {
  margin-bottom: 24px;
}

.specials-item {
  background-repeat: no-repeat;
}

.specials-left-item-content {
  height: 258px;
  padding: 40px 0 40px 45px;
}

.specials-item-content-1 {
  background-image: url("../img/specials-1.jpg");
}

.specials-item-content-2 {
  background-image: url("../img/specials-2.jpg");
}

.specials-item-header {
  margin-bottom: 15px;
  font-weight: 700;
  color: #FFFFFF;
}

.specials-left-item-header {
  font-size: 40px;
  line-height: 40px;
}

.specials-item-price {
  margin-bottom: 47px;
  color: #FFFFFF;
  opacity: 0.8;
}

.specials-left-item-price {
  font-size: 20px;
  line-height: 20px;
}

.specials-item-more {
  display: inline-block;
  font-size: 16px;
  color: #F0BF5F;
  stroke: #F0BF5F;
}

.specials-item-more:active {
  color: white;
}

.focusable-more:focus {
  outline: 0
}

.focusable-item:has(.focusable-more:focus) {
  outline: 1px solid #CC9933;
  outline-offset: 8px;
}

.focusable-item:has(.focusable-more:focus:not(:focus-visible)) {
  outline: 0;
}

.more-link-img {
  fill: none;
  vertical-align: middle;
}

.specials-right-content {
  height: 540px;
  padding: 212px 0 40px 45px;
}

.specials-item-content-3 {
  background-image: url("../img/specials-3.jpg");
}

.specials-right-header {
  font-size: 60px;
  line-height: 60px;
}

.specials-right-item-price {
  font-size: 30px;
  line-height: 30px;
}

.text {
  font-size: 16px;
  line-height: 2em;
}

.services-list-left-item {
  margin-right: 24px;
}

.services-list-item:not(.bottom-item) {
  margin-bottom: 24px;
}

.services-list-item-content {
  display: block;
  padding: 191px 126px 35px 45px;
  height: 330px;
  width: 573px;
  background-repeat: no-repeat;
  background-position: top;
}

.service-title {
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 2em;
  color: #CC9933;
  stroke: #CC9933;
}

.service-img-1 {
  background-image: url("../img/service-1.jpg");
}

.service-img-2 {
  background-image: url("../img/service-2.jpg");
}

.service-img-3 {
  background-image: url("../img/service-3.jpg");
}

.service-img-4 {
  background-image: url("../img/service-4.jpg");
}

.service-title:hover {
  color: #F0BF5F;
  stroke: #F0BF5F;
}

.service-title:active {
  color: #A47312;
  stroke: #A47312;
}

.advantages-list-item {
  padding: 116px 42px 32px 45px;
  width: 276px;
  height: 276px;
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.advantages-list-item:not(.right-item) {
  margin-right: 22px;
}

.advantages-list-item:not(.bottom-item) {
  margin-bottom: 22px;
}

.advantage-1 {
  background-image: url("../img/advantage-1.jpg");
}

.advantage-2 {
  background-image: url("../img/advantage-2.jpg");
}

.advantage-3 {
  background-image: url("../img/advantage-3.jpg");
}

.advantage-4 {
  background-image: url("../img/advantage-4.jpg");
}

.advantage-5 {
  background-image: url("../img/advantage-5.jpg");
}

.advantage-6 {
  background-image: url("../img/advantage-6.jpg");
}

.advantage-7 {
  background-image: url("../img/advantage-7.jpg");
}

.advantage-8 {
  background-image: url("../img/advantage-8.jpg");
}

.accommodation-list-item {
  height: 440px;
  width: 374px;
}

.accommodation-list-item:not(.right-item) {
  margin-right: 24px;
}

.accommodation-list-item:not(.bottom-item) {
  margin-bottom: 24px;
}

.accommodation-list-item-content {
  padding-left: 45px;
}

.accommodation-img {
  margin-bottom: 32px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.accommodation-price {
  display: inline-block;
  vertical-align: middle;
}

.accommodation-price-from {
  margin-right: 4px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.accommodation-price-value {
  margin-right: 4px;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.accommodation-price-period {
  vertical-align: middle;
  margin-right: 52px;
  font-size: 16px;
  line-height: 16px;
}

.accomodation-rating {
  display: inline-block;
  vertical-align: middle;
}

.accomodation-rating img {
  vertical-align: middle;
}

.accommodation-price-rating {
  margin-bottom: 16px;
}

.accomodation-name {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 16px;
}

.accommodation-place {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.accommodation-more {
  display: block;
  padding: 373px 0 27px 54px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 2em;
  color: #FFFFFF;
  stroke: #FFFFFF;
  background-image: url("../img/accommodation-more.jpg");
}
